.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 425%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

.imgl {
    transform: translateX(-15px);
    width: 100%;
    min-width: 454px;
    height: 100%;
    -webkit-mask-image: radial-gradient(ellipse 190% 160% at left, black 47%, transparent 50%);
}

.text-right,
.text-left {
    padding: 15px;
}

.pos1 {
    color: white;
    background-color: #222;
}

.imgr {
    transform: translateX(15px);
    width: 100%;
    min-width: 454px;
    height: 100%;
    -webkit-mask-image: radial-gradient(ellipse 200% 150% at right, black 47%, transparent 50%);
}

.pos2 {
    background-color: white;
}

.contact {
    position: relative;
    background-image: url(../../public/img/contact.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
}

.contact::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.30);
}

.contactme {
    text-align: center;
    font-size: 350%;
    text-transform: uppercase;
    padding-top: 25vh;
    padding-bottom: 50px;
    text-shadow: 1px 1px 15px rgb(255, 255, 255);
}

.fcbk,
.lnkin,
.email {
    text-align: center;
    top: 10px;
    padding: 15px;
    right: 10px;
    bottom: 10px;
    left: 10px;
}