.devpage {
    position: relative;
}

.devtex {
    position: absolute;
    top: 35%;
    width: 100vw;
    font-size: 10vh;
    text-align: center;
    text-shadow: 3px 0px 3px white;
}

#imgs {
    width: 100vw;
}